SHORTCUT_API_TOKEN=replace_me
WEB_ADMIN_PASSWORD=replace_me
SESSION_SECRET=replace_me
EXCHANGE_RATE_API_KEY=replace_me
EXCHANGERATE_HOST_API_KEY_PRIMARY=replace_me
EXCHANGERATE_HOST_API_KEY_SECONDARY=replace_me
USD_CNY_RATE=6.9
